NEXT_PUBLIC_API_URL=https://api.pesaguard.victorkipruto.com
PESAGUARD_API_URL=https://api.pesaguard.victorkipruto.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_WS_URL=
NEXT_PUBLIC_ENVIRONMENT=development
NEXT_PUBLIC_ENABLE_FIXTURES=false
